/* Global styles*/
* {
    margin: 0px;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    text-align: center;
}

ul {
    list-style: none;
    margin:0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color:inherit
}

.text-center {
    text-align: center !important;
}

/* Header section */

header {
    background-color: #145369;
    padding: 1rem;
    height: 100vh;
}

header h1 {
    font-size: 3rem;
}

header p {
    font-size: 1.6rem;
    padding: 1rem 0;
    /* border-bottom: 1px solid #ffffff; */
}

nav ul {
    font-size: 1.2rem;
    display: flex;
    justify-content: right;
}

nav li {
    margin: .6rem;
}

.rotate {
    margin-top: 2rem;
    font-size: 3rem;
    opacity: 0.4;

}

.about-section {
    padding: 1rem 0 0 0;
    text-align: start;
    opacity: 0.9;
}

.about-section h2 {
    margin: 0px;
    margin-top: 2rem;
}

.about-section p {
    font-size: 1.2rem;
    line-height: 2rem;
}

.skills-section {
    background-image: url('images/image_2.jpg');
    color: #000000;
    font-size: 1.4rem;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}

.skills-section div div {
    padding: 1rem;
    margin: 1rem;
    padding: 0px;
}
.recent-work {
    color: #000000;
}

.recent-work-image img {
    height: 100%;
    border-radius: .6rem;
}