/* Global styles*/
* {
  margin: 0px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: large;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/* nav {
    border-bottom: 1px ridge;
    box-shadow: 0 1px 2px #ccc;
} */

section {
  padding-top: 4rem;
}

a {
  text-decoration: none;
  color: #069c79;
}

img {
  max-width: 100%;
  margin: 1px 0px;
  padding: 1px;
}

.text-center {
  text-align: center !important;
}

.text-white {
  color: floralwhite;
}

.text-cyan {
  color: cyan;
}

.text-black {
  color: #000000;
}

/***********************************************************************************************************************

/* Header section */

header {
  background-color: #145369;
  padding: 1rem;
  min-height: 100vh;
}

header h1 {
  font-size: 3rem;
}

.name[id="name"] {
  margin-top: 5px;
  font-size: 1.7rem;
  line-height: 1rem;
}
header a {
  color: inherit;
  text-decoration: underline;
}
header a:hover {
  color: cyan;
  text-decoration: underline;
}

header p {
  font-size: 1.6rem;
  padding: 1rem 0;
}

nav ul {
  font-size: 1.2rem;
  display: flex;
  justify-content: right;
}

nav li {
  margin: 0.6rem;
  list-style: none;
}

.rotate {
  font-size: 3rem;
  opacity: 0.4;
  width: auto;
  height: auto;
  display: block;
}

#my-photo {
  border-radius: 20px;
  margin-bottom: 15px;
}

.about-section p {
  font-size: 1.2rem;
  line-height: 2rem;
}

.skills-section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: url("images/image_2.jpg");
  color: #000000;
  font-size: 20px;
  height: auto;
  padding-bottom: 4rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.skills-header {
  border-bottom: 1px solid gray;
  padding-bottom: 5px !important;
  font-size: 1.5rem;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 1rem;
}

.skills-container ul {
  min-width: 15rem;
  background-color: #ffffff;
  border-radius: 5px;
  padding-top: 0.2rem;
  border: 1px solid black;
}
.skills-header {
  /* text-align: center!important */
}
.skills-section ul .skill-card {
  text-align: left;
  margin: 0.8rem 0;
  padding: 0 1rem;
  font-size: 1.5rem;
}

.skills-section ul .skill-card:hover {
  background-color: gray;
  color: #ffffff;
  cursor: default;
}

.section-heading {
  font-size: 2.5rem;
  margin-bottom: 4rem;
}
/* .recent-work {
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
    margin: .5rem 0;
    padding:1rem;
    background-color: #B1E2D7;
    border-radius: .6rem;
} */

/* .recent-work-info, .recent-work-image {
    width: 80vw;
    box-shadow: #000000;
    align-self: center;
}
.recent-work-info {
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: #ffffff ridge;
}

.features a {
    border-bottom: #ffffff ridge;
    padding: 1rem;
}

.recent-work-info h4 {
    margin-bottom: .5rem;
    border-radius: .6rem;
    border: 1px solid #ffffff;
    padding: .5rem;
} */

/* recent-work-section */

.project-container {
  color: #000000;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  gap: 2rem;
  background-color: #b1e2d7;
  /* width: 98%; */
  border-radius: 1.5rem;
  height: max-content;
  display: flex;
  margin: 2rem;
  padding: 2rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: white;
  width: 30rem;
  height: 30rem;
  padding: 0.5rem;
}
.image-container:hover {
  background-color: rgb(175, 175, 175);
  cursor: pointer;
}

.project-text-container {
  display: flex;
  flex-flow: column nowrap;
  border-left: 1px solid #ffffff;
  background-color: inherit;
  width: 30rem;
  height: auto;
  pad: 1rem;
  padding-left: 3%;
}

.project-text-heading {
  border: 1px ridge;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.project-image-1 {
  background-image: url("./images/rest-countries-desktop-preview.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  border-radius: 1rem;
}
.project-image-1:hover {
  background-image: url("./images/rest-countries-desktop-preview.jpg");
  border-radius: 2rem;
}
.project-image-2 {
  background-image: url("./images/ip-address-tracker-desktop-preview.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  border-radius: 1rem;
}
.project-image-2:hover {
  background-image: url("./images/ip-address-tracker-desktop-preview.jpg");
  border-radius: 2rem;
}

/* Contact us section */

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  height: 100vh;
  /* color: #ffffff; */
  background-color: #145369;
}

.contact-heading {
  margin: 0;
  font-size: 4rem;
}

.contact-text {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.rotate {
  display: block;
  height: 68vh;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 2.5rem;
  opacity: 0.4;
  color: #ffffff;
}

.about-section {
  display: flex;
  row-gap: 2rem;
  justify-content: space-between;
}

.about-section p {
  width: 65%;
  margin: auto;
}

.about-section-info {
  margin-right: 2rem;
  padding-top: 2rem;
  border-radius: 1.6rem;
  border: 1px ridge;
}

/* Footer section */

.contact-info {
  display: flex;
  justify-content: center;
  column-gap: 5rem;
  /* border: 1px ridge; */
  width: 100%;
}

.p-container {
  border: 1px ridge;
  min-width: 70%;
  border-radius: 1.6rem;
  padding: 6rem 2rem;
}
.footer__title {
  display: block;
  margin-right: 2rem;
}
p .mail {
  text-decoration: underline;
  color: #000000;
}

p .mail:hover {
  color: cyan;
}

@media (min-width: 860px) {
  .recent-work {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    margin: 2rem 5rem 5rem 2rem;
  }

  .recent-work-info {
    flex: 1;
    margin-left: 3rem;
    border-right: #ffffff 1px solid;
    border-bottom: 0;
    padding-right: 2rem;
  }

  .recent-work-image {
    flex: 2;
  }

  .recent-work-image {
    height: auto;
    width: 250px;
  }
}

@media (max-width: 640px) {
  /* Kids and me. 
    About
    Features
    Tools used */

  .rotate,
  .footer__title {
    display: none;
  }
  section {
    padding-top: 3rem;
  }

  .about-section-info {
    flex: 2;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-top: 1rem;
    border-radius: 10px;
    border: 1px ridge;
  }

  .about-section p {
    width: 90%;
    margin: auto;
  }
}
