/* Global styles*/
* {
    margin: 0px;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: large;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    text-align: center;
}

ul {
    list-style: none;
    margin:0px;
    padding: 0px;
}

section {
    padding-top: 1rem;
}

a {
    text-decoration: none;
    color:inherit
}

img {
    max-width: 100%;
    margin:1px 0px;
}

.text-center {
    text-align: center !important;
}

.text-white {
    color: #ffffff;
}

.text-black {
    color: #000000;
}

/* Header section */

header {
    background-color: #145369;
    padding: 1rem;
    height: 100vh;
}

header h1 {
    font-size: 3rem;
}

header p {
    font-size: 1.6rem;
    padding: 1rem 0;
}

nav ul {
    font-size: 1.2rem;
    display: flex;
    justify-content: right;
}

nav li {
    margin: .6rem;
}

.rotate {
    font-size: 3rem;
    opacity: 0.4;
    width: auto;
    height: auto;

}

/* .about-section {
    padding: 1rem 0 0 0;
    text-align: start;
    opacity: 0.9;
} */

/* .about-section h2 {
    margin: 0px;
    margin-top: 2rem;
} */

.about-section p {
    font-size: 1.2rem;
    line-height: 2rem;
}

.skills-section {
    background-image: url('images/image_2.jpg');
    color: #000000;
    font-size: 1.4rem;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}

.skills-section div div {
    padding: 1rem;
    margin: 1rem;
    padding: 0px;
}
.recent-work {
    color: #000000;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    margin: 1rem 0;
}

.recent-work-title {
    font-size: 1.6rem;
}
.recent-work-info h4 {
    font-size: 1.4rem;
}

.features > li {
    margin: 1rem 0px;
}

/* Contact us section */

#contact {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100vh;
    /* color: #ffffff; */
    background-color: #B1E2D7;
}

.contact-heading {
    margin:0;
    font-size: 4rem;
}

.contact-text{
    font-size: 1.4rem;
    margin-bottom: 3rem;
}

#contact .rotate {
    display: none;
}

@media (min-width: 860px) {
    .rotate {
        height: 68vh;
        writing-mode: vertical-lr;
        text-orientation: upright;
        display: inline;
        float: left;
        font-size: 2.5rem;
        opacity: 0.4;
    }
    .about-section p {
        width: 50%;
        margin: auto;
    }
}